@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

* {
    font-family: 'Dosis', sans-serif;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    background: white;
}
ul,
li {
    margin: 0;
    padding: 0;
    text-align: left;
}
a {
    color: inherit;
    text-decoration: inherit;
}
/* ================================================================== */
/* Home Page */

/* Home Background */
.home-background {
    padding-top: 100px;
    height: 100%;
    background: linear-gradient(
        -45deg,
        orange,
        rgb(37, 37, 37),
        rgb(37, 37, 37),
        orange
    );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home-content {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.home-jumbotron {
    height: 80vh;
    width: 100%;
    display: flex;
}
.jumbotron {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    color: white;
    text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.3em;
}
.jumbotron h1 {
    width: 100%;
    font-size: 6rem;
    color: orange;
}
.jumbotron p {
    padding-top: 70px;
    width: 75%;
    font-size: 1.5rem;
    color: orange;
}
.home-jumbotron img {
    height: 80%;
    width: 70%;
    padding-top: 150px;
}
/* Variance Swaps Container */
.variance-header {
    margin-top: 200px;
    color: white;
    text-shadow: rgb(255, 255, 255) 0.05em 0.05em 0.3em;
    color: orange;
    font-size: 60px;
    width: 100%;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    padding: 20px;
}
.noDec-content {
    display: flex;
    justify-content: center;
    height: 70vh;
}
.noDec-content ul {
    height: 50%;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.322);
}
.noDec1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 300px;
    list-style-type: none;
}
.noDec1 {
    color: orange;
    font-size: 40px;
    text-decoration: none;
}
.noDec1:hover {
    color: red;
}
.noDec2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    list-style-type: none;
}
.noDec2 li {
    color: white;
    text-align: center;
}
/* ================================================================== */
/* Simple Trade Variance Container*/
.simple-trade-background {
    padding-top: 100px;
    height: 100%;
    background: linear-gradient(
        -45deg,
        orange,
        rgb(37, 37, 37),
        rgb(37, 37, 37),
        orange
    );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.balance-container{
    color: white;
}
/* Product*/
.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}
.productMenu {
    font-size: 500px;
    color: gray;
    text-align: left;
}

.productList {
    font-size: 20px;
    list-style-type: none;
}
.pool-containers {
    margin: auto;
}
.pool-HeaderAndLinks, .staking-content{
    color: white;
    text-align: center;
    font-size: 1.2rem;
}
.pool-HeaderAndLinks .links-buttonBox {
    height: 10vh;
    background: rgba(75, 75, 75, 0.534);
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.pool-HeaderAndLinks .amount-buttonBox {
    height: 20vh;
    background: rgba(75, 75, 75, 0.534);
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.links-buttonBox button {
    margin: 10px;
    font-size: 1.5rem;
    background: transparent;
    cursor: pointer;
    border: solid 2px white;
    border-radius: 15px;
    color: orange;

}
.amount-buttonBox button {
    margin: 10px;
    font-size: 1.5rem;
    background: transparent;
    cursor: pointer;
    border: solid 2px white;
    border-radius: 10px;
    color: orange;
}
.form__group {
    text-align: center;
    position: relative;
    padding: 10px;
    margin: auto;
    width: 50%;
}
.InputField {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.InputField::placeholder {
    color: transparent;
}
.InputField:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}
.InputField:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, orange, black);
    border-image-slice: 1;
}
.InputField:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: orange;
    font-weight: 700;
}
/* reset input */
.InputField:required,
.form__field:invalid {
    box-shadow: none;
}
/* ================================================================== */
/* About Page */

/* About Background */
.about-background {
    padding-top: 100px;
    background: linear-gradient(
        -45deg,
        orange,
        rgb(37, 37, 37),
        rgb(37, 37, 37),
        orange
    );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.about-content {
    max-width: 850px;
    min-width: 650px;
}
/* ================================================================== */
/* Introducing Header Container*/
.introducing-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Header */
.header {
    font-size: 60px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    color: orange;
    font-family: 'Dosis', sans-serif;
    padding: 20px;
}
.img {
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.322);
    border-radius: 20px;
}
.img img {
    padding: 20px;
    width: 60%;
}
/* ========================================================== */
/* About Content */
.content-containers {
    width: 100%;
}
.all-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.all-containers h1 {
    color: orange;
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.all-containers p {
    color: white;
    font-size: 1.5rem;
    padding-bottom: 10px;
}
/* Content */
.content1,
.content2,
.content3,
.content4,
.content5,
.content6 {
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-radius: 20px;
    background: rgba(26, 26, 26, 0.404);
}
.content4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content5 a {
    color: orange;
}
.content5 ol {
    border-radius: 15px;
    padding: 10px;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}
.content5 li {
    margin-left: 30px;
    color: white;
    text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.3em;
    font-size: 20px;
}
.content6 ol {
    border-radius: 15px;
    padding: 10px;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}
.content6 li {
    margin-left: 30px;
    color: white;
    text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.3em;
    font-size: 20px;
}
/* Calculate Section */
._code {
    text-align: left;
    background-color: transparent;
    color: orange;
    border-radius: 20px;
    width: 95%;
    font-size: 13.5px;
}

/* ==================================== */
/* Footer */
.footer {
    background: rgba(255, 166, 0, 0.678);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 95%;
}
.footer-header {
    font-size: 2rem;
    width: 30%;
}
.icon-container {
    width: 40%;
    text-align: center;
}
.icon {
    padding: 20px;
    width: 30px;
}
.risk {
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
